* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
}

:root {
  --color-primary: #00C2E8;
  --color-primary-light: #d7f6fd;
  --color-primary-dark: #0eabcb;
  --color-primary-white: #f2f2f2;
  
  --font-primary-title: 'Helvetica', 'Segoe UI', 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
